<div class="viewport-container">
	<div>
		
			<div class="slick">		
				<div class="contributions">Total Contributions: <span>${{contributions}}<span>
				</div>
				<div class="winner">
					<div>

						<div>
							<h1><img src="{{img}}">{{fullName}}</h1>
							<h2>Winner</h2>
						</div>
						<div>
							<h3> You are a FlyingChance winner, happy flying to {{place}}</h3>
							<p><q>{{msg}}</q> <span>-{{firstName}}, FlyingChance Winner</span></p>
						</div>

					</div>
				</div>
			</div>
	</div>
</div>