<div id="userProfile">
	<div>

		<aside>

				<div class="user-image">
					<img src="{{this.img}}">
					<h1>{{this.fullName}}</h1>
				</div>

		</aside>

		<section>
				<h1>{{this.firstName}} has made {{this.contributions}} contributions</h1>
				<h2>Dream Location: {{this.place}}</h2>
				<p><q>{{this.msg}}</q></p>				
		</section>

	</div>
</div>
