<div id="winner" class="animated slideInLeft">
	<div>

		<div>
				<h1><img src="{{img}}">{{fullName}}</h1>
				<h2>Winner</h2>
		</div>
		<div>
			<h3> You are a FlyingChance winner, happy flying to {{place}}</h3>
			<p><q>{{msg}}</q></p><span>-{{firstName}}, FlyingChance Winner</span>
		</div>

	</div>
</div>